body {
  // background-color: lightgray;
}

nav a {
  font-size: 1em;
}

section#user-name {
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: .75em;
  }
}

img {
  max-height: 140px;
}

ul#details {
  font-size: .75em;
}

section#user-info.active ul {
  padding-bottom: 10%;
}

section#stats {
  font-size: .75em;
}

section#main {
  font-size: .75em;
}
